@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/bgdark.png"); 
    color: white;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    margin: 0; 
    height: 100vh; 
}